<h2>Панель администратора</h2>
<a asp-action="UserList" asp-controller="Admin">Список пользователей</a>
<br />
<a asp-action="Info" asp-controller="Game">Перейти в управление турниром</a>
<br />
<a asp-action="Index" asp-controller="Home">Назад</a>
